/* Global variables */
:root {
    --main-bg-color: #EDEFEE; /* Main background color */
    --accent-color: #ea580c; /* Accent color */
    --text-color: #333; /* Primary text color */
    --secondary-text-color: #666; /* Secondary text color */
    --secondary-bg-color: #F9F9F9; /* Secondary background color */
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth scrolling for internal links */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--main-bg-color);
    font-family: 'Markazi Text', sans-serif;
    color: var(--text-color);
    margin: 2rem 5%;
    line-height: 1.6; /* Improves text readability */
}

/* Headings */
h1, h2 {
    color: var(--accent-color);
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

/* Header logo styling */
header > img {
    display: block;
    margin: 0 auto;
}

/* Links with hover underline effect */
a {
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

a::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s;
}

a:hover {
    color: var(--accent-color);
}

a:hover::before {
    transform: scaleX(1);
}

/* Navigation menu */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav li {
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

/* Main sections styling */
section {
    padding: 4rem 0;
    border-top: 3px solid var(--accent-color);
}

/* Adds more sections styling except the last one */
section:not(:last-of-type) {
    margin-bottom: 1rem;
    border-bottom: 3px dashed var(--secondary-text-color);
    background: linear-gradient(135deg, var(--main-bg-color) 0%, var(--secondary-bg-color) 100%);
    text-align: center;
}

/* Styling for the homepage articles */
#home article {
    max-width: 800px;
    margin: 0 auto;
}

#home p {
    font-size: 1.2rem;
    line-height: 1.6;
}

/* Discount banner */
.discount-banner {
    color: var(--accent-color);
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 0 0 5px var(--secondary-text-color);
}



/* Card container and card styles */
.card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card img {
    width: 100%; /* Full width */
    height: 200px; /* Fixed height */
    object-fit: cover; /* Maintains aspect ratio and fills the available space */
    object-position: center; /* Center the image */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    font-size: 1.8rem;
    color: var(--secondary-text-color);
    margin-bottom: 0.8rem;
}

.card p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}


/* Tutorials section styling */
#tutorials {
    background: var(--secondary-bg-color);
    border-top: 2px solid var(--accent-color);
    padding-left: 8rem;
}

#tutorials h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 2rem;
}

#tutorials p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

#tutorials a {
    color: var(--accent-color);
    transition: color 0.3s;
}

#tutorials a::after {
    content: ' →';
    color: currentColor;
}

#tutorials a:hover {
    color: var(--text-color);
}

/* Footer styling */
footer {
    display: flex;
    justify-content: space-between;
    background: var(--text-color);
    color: var(--main-bg-color);
    padding: 2rem 4rem;
}

footer img {
    max-width: 150px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    .card-container {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}
